<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="style.css" rel="stylesheet">
  <title>Mohamed's File Hoster</title>
</head>

<body>
  <div class="page-wrapper">
    <%-include('partials/nav')%>
    <div class="content-header">
      <h1>Welcome to the file uploader</h1>
    </div>
    <div class="content">

      <div class="card-container">
        <div class="card">
          <a href="/upload">Upload a new File</a>
        </div>
        <div class="card">
          <a href="/myfiles">View my files</a>
        </div>
      </div>
    </div>
    <div class="footer">
      <footer>Some footer text like Mohamed 2025</footer>
    </div>
  </div>
</body>

</html>