<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="style.css" rel="stylesheet">
  <title>Mohamed's File Hoster</title>
</head>

<body>
  <div class="page-wrapper">
    <%-include('partials/nav')%>
    <div class="content">
      <div class="content-header">
      </div>
      <div class="form-container">
        <h1>Upload a new file</h1>
        <form action="/upload-file" method="POST" enctype="multipart/form-data">
          <label for="username">File name: </label>
          <input type="text" name="username">
          <label for="uploaded_file">Select File: </label>
          <input type="file" class="form-control-file" name="uploaded_file">
          <br>
          <button class="green-btn" type="submit">Upload</button>
        </form>
      </div>
      <%- include("partials/errors") %>
    </div>
    <div class="footer">
      <footer>Some footer text like Mohamed 2025</footer>
    </div>
  </div>
</body>

</html>